*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build
*_api/
**/*_api/
/app/src/main/assets/therouter
**/lib_modules/lib_room/schemas
/script/aab/
/artifacts_backup/
