<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.user_info.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.modify_pwd.ModifyPwdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.show_bind_account.ShowAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.bind_account.BindAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.account_close.AccountCloseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.close_verify.CloseVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.close_success.CloseSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>