<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />

    <application
        android:name=".app.ReoqooApplication"
        android:allowBackup="false"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/appName"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/CustomDarkModeTheme"
        tools:replace="android:theme,android:label,android:icon,android:supportsRtl"
        tools:targetApi="31">
        
        <activity
            android:name=".ui.logo.LogoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!--接收外部跳转-->
                <action android:name="android.intent.action.VIEW" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--如果希望该应用可以通过浏览器的连接启动，则添加该项-->
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="share"
                    android:scheme="reoqoo" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sensorsdata.analytics.android.sdk.dialog.SchemeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="debugmode"
                    android:scheme="sad996b0dc" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.sensorsdata.analytics.android.sdk.data.SensorsDataContentProvider"
            android:authorities="${fileProviderAuthority}.SensorsDataContentProvider"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:exported,android:authorities" />

        <meta-data android:name="HW_APPID" android:value="114558325" tools:replace="android:value"/>
        <meta-data android:name="PACKAGE_NAME" android:value="com.xiaotun.pro" tools:replace="android:value"/>
        <meta-data android:name="MEIZU_APPID" android:value="MZ-155768" tools:replace="android:value"/>
        <meta-data android:name="MEIZU_APPKEY" android:value="MZ-0dd6b2923d8d427bae02ffd687402522" tools:replace="android:value"/>
        <meta-data android:name="XIAOMI_APPID" android:value="" tools:replace="android:value"/>
        <meta-data android:name="XIAOMI_APPKEY" android:value="" tools:replace="android:value"/>
        <meta-data android:name="OPPO_APPID" android:value="OP-3540345" tools:replace="android:value"/>
        <meta-data android:name="OPPO_APPKEY" android:value="OP-e733aefd04d54a94b4b4c3d0da0cc103" tools:replace="android:value"/>
        <meta-data android:name="OPPO_APPSECRET" android:value="OP-43edd230a0ba41f298d5dda9b6f937e2" tools:replace="android:value"/>
        <meta-data android:name="VIVO_APPID" android:value="105923803" tools:replace="android:value"/>
        <meta-data android:name="VIVO_APPKEY" android:value="9757494ccc72878547cabad8ed56e452" tools:replace="android:value"/>
        <meta-data android:name="HONOR_APPID" android:value="104507791" tools:replace="android:value"/>
    </application>

</manifest>