<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.main_activity.ShareDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.qrcode_activity.QRCodeShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.share_manager.ShareManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.share_to_user.Share2UserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.share_owner.ShareOwnerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.share_visitor.ShareVisitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.permission_setting.PermissionSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>