<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.activity.msg_center.MsgCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.msg_info.MsgInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.msg_dev_upgrade.MsgDevUpgradeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>